:root {
  --barn-red: 35.96% 0.1475 29.23;
  --fire-brick: 51.61% 0.2019 25.94;
  --papaya-whip: 95.84% 0.0381 85.35;
  --prussian-blue: 29.38% 0.0656 238.47;
  --air-superiority-blue: 66.5% 0.0747 236.79;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  user-select: none;
}

body {
  background: oklch(var(--papaya-whip) / 0.5);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
  overscroll-behavior: none;
  -webkit-text-size-adjust: 100%;
  text-wrap: pretty;
}

main {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100dvh;
}

img svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

h1,
h2 {
  text-wrap: balance;
}

h1 {
  display: none;
  font-size: inherit;
}

h2 {
  margin-bottom: 1rem;
}

a,
button {
  touch-action: manipulation;
}

header {
  align-items: center;
  background: oklch(var(--prussian-blue));
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

p {
  margin-block: 1em;
  text-align: center;
}

fieldset {
  border: 0;
  border-bottom: 1px solid oklch(var(--papaya-whip));
  padding: 1rem 0 0.5rem;
  gap: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;

  &:has(button) > * {
    flex-grow: 1;
  }
}

button {
  background: transparent;
  border: 0;
  color: inherit;
  padding: 0;

  svg {
    fill: none;
    height: 24px;
    stroke: currentColor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 24px;
  }
}

#puzzle {
  display: flex;
  flex-wrap: wrap;
  font-size: 4rem;
  letter-spacing: 0.25ch;
  line-height: 1.25;
  padding: 1rem;
  place-content: center;
}

.word:first-child {
  text-indent: 0.25ch;
}

:has(#group-words:checked) {
  #puzzle {
    gap: 0.25ch;
    line-height: 1.1;
  }

  .word {
    border: 2px solid oklch(var(--barn-red));
    border-radius: 0.33rem;
    padding: 0.25ch;
    text-indent: 0.25ch;
  }
}

:has(#game-timer:checked) h1 {
  display: block;
}

#guess {
  font-size: 3ch;
  font-weight: bold;
  min-height: 4ch;
  overflow-x: clip;
  padding: 1ch;
  text-align: center;
  text-transform: uppercase;
  width: 100vw;
  text-size-adjust: auto;
}

#keyboard {
  background: oklch(var(--air-superiority-blue));
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0.75rem 0.5rem;

  .row {
    display: flex;
    gap: 4px;
    justify-content: center;
  }
}


.kbd {
  background: #fff;
  border-radius: 0.25rem;
  filter: drop-shadow(0 1.5px 1px oklch(var(--prussian-blue) / 0.8));
  display: grid;
  height: 40px;
  place-items: center;
  text-transform: uppercase;
  width: calc(10% - 4px);

  &:not([class*="kbd-"]) {
    font-size: 1.25rem;
  }

  &:active {
    filter: drop-shadow(0 1px 0.5px oklch(var(--prussian-blue) / 0.8));
    translate: 0 2px;
  }
}

.kbd-space {
  width: calc(50% - 4px);
}

.kbd-back,
.kbd-submit {
  width: calc(25% - 4px);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0;
}

[popover] {
  background: #fff;
  border: 0;
  border-radius: 1rem 1rem 0 0;
  inset: auto 0 0 0;
  overflow: hidden;
  padding: 1rem;
  transition: all 0.25s 0.15s;
  width: 100vw;

  @starting-style {
    opacity: 0;
    translate: 0 100%;
  }

  &::backdrop {
    background: rgba(0 0 0 / 0.7);
    transition: all 0.25s;

    @starting-style {
      opacity: 0;
    }
  }
}

[hidden][hidden] {
  display: none;
}

.btn {
  background: oklch(var(--air-superiority-blue));
  border-radius: 0.33rem;
  color: #fff;
  padding: 0.4rem 1rem;
}

.shake {
  animation: shake 1s linear;
  color: oklch(var(--fire-brick));
}

@keyframes shake {
  12.5% {
    translate: -0.5rem;
  }

  25% {
    translate: 0.5rem;
  }

  37.5% {
    translate: -0.5rem;
  }

  50% {
    translate: 0.5rem;
  }

  62.5% {
    translate: -0.5rem;
  }

  75% {
    translate: 0.5rem;
  }

  87.5% {
    translate: -0.5rem;
  }

  100% {
    translate: 0;
  }
}
